.logo-link-wrapper {
  position: relative;
}

.logo-link-wrapper::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #000;
  transition: width 0.4s ease;
}

.logo-link-wrapper:hover::after {
  width: 100%;
}
