.cancel-btn {
  height: 48px;
  padding: 0 32px;
  font-size: 16px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #d9d9d9;
  color: #1a1a1a;
  transition: all 0.3s ease;
}

.cancel-btn:hover {
  border-color: #1a1a1a !important;
  color: #1a1a1a !important;
}

.submit-btn {
    flex: 1;
  height: 48px;
  padding: 0 32px;
  font-size: 16px;
  border-radius: 4px;
  background: #1a1a1a;
  border-color: #1a1a1a;
}

.submit-btn:hover {
  background: #333 !important;
  border-color: #333 !important;
}